<div nz-row nzJustify="center">
    <form
    nz-col
  nzSpan="16"
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Veuillez entrer le nom de l'étudiant!">
      <nz-input-group>
        <input type="text" nz-input formControlName="nom" placeholder="Nom" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Veuillez entrer le prénom de l'étudiant!">
      <nz-input-group>
        <input nz-input formControlName="prenom" placeholder="Prénom" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Veuillez entrer l'email de l'étudiant!">
      <nz-input-group>
        <input nz-input formControlName="email" placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Veuillez entrer le téléphone de l'étudiant!">
      <nz-input-group>
        <input nz-input formControlName="telephone" placeholder="Téléphone" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Enregistrer
  </button>
</form>
</div>

