<div nz-row nzJustify="center">
  <form
    nz-col
    nzSpan="16"
    nz-form
    [formGroup]="validateForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Veuillez entrer l'id du département!">
        <nz-input-group>
          <input
            type="number"
            nz-input
            formControlName="id"
            placeholder="ID département"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Veuillez entrer le nom du département!">
        <nz-input-group>
          <input type="text" nz-input formControlName="nom" placeholder="Nom" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
    >
      Enregistrer
    </button>
  </form>
</div>
